<Config>
  <LogLevel>info</LogLevel>
  <UrlBase>/</UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>80</Port>
  <SslPort>443</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <ApiKey>94fc35cf7e332ccf9bde932477a59be5</ApiKey>
</Config>